.statistics {
    padding: 0rem 5rem;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    margin-bottom: 5rem;
}

.item {
    width: 30%;
}