.featured_jobs {
    padding: 0 5rem;
}

.featured_jobs h1 {
    font-weight: 700;
    font-size: 3rem;
    color: #1A1919;
    margin-bottom: .7rem;
}

.featured_jobs p {
    color: #757575;
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 4rem;
}